* {
    font-family:Arial, Helvetica, sans-serif;
}
#leftside {
    float:left;
    width: 30%;
    min-height: 1200px;
    background-color:rgb(77, 192, 154);
}
#rightside {
    float:left;
    width: 70%;
    min-height: 1200px;
    background-color:rgb(238, 226, 192);
    position:relative;
}
#container {
    background-color:rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 4%;
    left: 15%;
    min-width: 1100px;
    min-height: 1192px;
    border-radius: 0.7em;
}
header {
    height: 97px;
    background-color:rgba(231, 229, 229, 0.5);
    font-size: 2.75em;
    padding:0.5em;
    color:rgb(219, 154, 13);
}
header span {
    font-family: 'Sacramento', cursive;
}
header nav {
    font-size: 17px;
    text-align: center;
    position: relative;
    bottom: 47px;
    color: black;
}
main {
    position: relative;
}
main h2 {
    position: absolute;
    left: 0%;
    top: 30px;
    margin: 25px 0 200px 50px;
    color:rgb(60, 190, 160);
    text-transform: uppercase;
}
main #photos img {
    margin: 0.75em;
    border: 0.85em solid rgb(255, 255, 255);
}
section#blogposts {
    position: absolute;
    left: 4%;
     top: 59px;
    padding: 50px;
}
main .post {
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(83, 78, 58, 0.6);
    border-radius: 0.5em;
}
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
}

/* Styles for the profile floating box */
.profile-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.profile-box h3 {
    margin-top: 0;
}

.profile-box p {
    margin-bottom: 10px;
}

.cross-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.close-btn {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.profilePic{
    position: relative;
    top: 10px;
    height: 60px;
    width: 100px;
}
